div{
    width: 760px;
    height: 280px;
    background-image: url(https://pbs.twimg.com/profile_images/988272404915875840/lE7ZkrO-_400x400.jpg);
    border: solid 2px green;
    background-repeat: no-repeat;
}
#first{
    background-size: contain;
}
#second{
    background-size: cover;
}