div{
    width: 200px;
    height:200px;
    background:wheat;
    font-size:30px;
    text-align:center;
    line-height:200px;
    border : 3px solid blue;
    border-radius:10px;
    /*  Insert code bellow */
  }