/* ui list plus */

.home_product_items {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.home_product_items .home_product_items_feature {
    width: 20%;
    height: 350px;
    overflow: hidden;
    border-style: solid;
    border-color: rgb(218, 219, 210);
    background: rgb(255, 255, 255);
}

.home_product_items li .home_product_items_feature_left {
    width: 50%;
}

.home_product_items li .home_product_items_name {
    text-align: center;
    padding-top: 13px;
    color: rgb(100, 46, 14);
    font-weight: bolder;
}

.home_product_items li .home_product_items_name:hover {
    color: rgb(184, 153, 19);
}

.home_product_items li .home_product_items_add {
    margin-top: 5px;
    height: 20%;
    display: grid;
}

.home_product_items li .home_product_items_add button {
    width: 140px;
    border-radius: 15px;
    background: rgb(255, 208, 54);
    margin: auto;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}

.home_product_items li .home_product_items_add button:hover {
    background: rgb(129, 219, 25);
    opacity: 1;
}

.home_product_items li .home_product_items_add button:active {
    border-radius: 13px;
    background: green;
}

.home_product_items li .home_product_items_add button:focus {
    outline: none;
}

.home_product_items li .home_product_items_detail {
    height: 7%;
    text-align: center;
}

.home_product_items .home_product_items_feature {
    width: 33%;
    background: rgb(255, 255, 255);
    display: flex;
}

.home_product_items .home_product_items_feature .home_product_items_feature_right_list {
    text-align: center;
    padding-left: 2px;
    list-style-type: disc;
}

.home_product_items .home_product_items_feature div {
    text-align: center;
    position: relative;
}

#product_info_title {
    color: rgb(100, 46, 14);
    background: rgb(240, 239, 233);
    border-radius: 15px;
}

#product_info_title:hover {
    color: rgb(209, 162, 34);
    font-size: 105%;
}

.home_product_items .home_product_items_feature div #product_price_text {
    position: absolute;
    bottom: 25px;
    width: 100%;
    text-align: center;
    color: rgb(100, 14, 14);
    background: rgb(240, 239, 233);
    border-radius: 15px;
}

.home_product_items .home_product_items_feature div #product_price_text:hover {
    position: absolute;
    bottom: 29px;
    width: 100%;
    text-align: center;
    color: rgb(172, 113, 36);
}

.home_product_items .home_product_items_feature .home_product_items_feature_right_list li {
    width: 99%;
    height: fit-content;
    margin-top: 7px;
    overflow: visible;
    text-align: left;
}

.home_product_items .home_product_items_feature .home_product_items_feature_left img {
    display: block;
    width: 180px;
    height: 200px;
    margin-left: auto;
    margin-top: 10px;
    position: relative;
    bottom: 0px;
    transition: bottom .5s;
}

.home_product_items .home_product_items_feature .home_product_items_feature_left img:hover {
    display: block;
    width: 180px;
    height: 200px;
    margin-left: auto;
    margin-top: 10px;
    position: relative;
    bottom: 5px;
}